<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="active">
            <a href="#planejamento" data-toggle="tab">
              Planejamento
              <div class="ripple-container"></div>
            </a>
          </li>
          <li class="">
            <a href="#financas" data-toggle="tab">
              Finanças
              <div class="ripple-container"></div>
            </a>
          </li>
          <li class="">
            <a href="#juridico" data-toggle="tab">
              Jurídico
              <div class="ripple-container"></div>
            </a>
          </li>
          <li class="">
            <a href="#operacoes" data-toggle="tab">
              Operações
              <div class="ripple-container"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content" style="padding-top:40px">
      <div class="tab-pane active" id="planejamento">
        <div class="row">
          <div class="col-md-4" *ngFor="let consultor of consultores.planejamento">
            <div class="card card-profile">
              <div class="card-avatar">
                <a>
                  <img class="img" [src]="consultor.data.foto" />
                </a>
              </div>

              <div class="content">
                <h6 class="category text-gray">{{consultor.data.titulo}}</h6>
                <h4 class="card-title">{{consultor.data.nome}}</h4>
                <p class="card-content">
                  {{consultor.data.descricao}}
                </p>
                <a [routerLink]="['/consultores-proposta/' + consultor._id]" class="btn btn-danger btn-round">Solicitar consultoria</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="financas">
        <div class="row">
          <div class="col-md-4" *ngFor="let consultor of consultores.financas">
            <div class="card card-profile">
              <div class="card-avatar">
                <a>
                  <img class="img" [src]="consultor.data.foto" />
                </a>
              </div>

              <div class="content">
                <h6 class="category text-gray">{{consultor.data.titulo}}</h6>
                <h4 class="card-title">{{consultor.data.nome}}</h4>
                <p class="card-content">
                  {{consultor.data.descricao}}
                </p>
                <a [routerLink]="['/consultores-proposta/' + consultor._id]" class="btn btn-danger btn-round">Solicitar consultoria</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="juridico">
        <div class="row">
          <div class="col-md-4" *ngFor="let consultor of consultores.juridico">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a>
                    <img class="img" [src]="consultor.data.foto" />
                  </a>
                </div>

                <div class="content">
                  <h6 class="category text-gray">{{consultor.data.titulo}}</h6>
                  <h4 class="card-title">{{consultor.data.nome}}</h4>
                  <p class="card-content">
                    {{consultor.data.descricao}}
                  </p>
                  <a [routerLink]="['/consultores-proposta/' + consultor._id]" class="btn btn-danger btn-round">Solicitar consultoria</a>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="tab-pane" id="operacoes">
        <div class="row">
          <div class="col-md-4" *ngFor="let consultor of consultores.operacoes">
            <div class="card card-profile">
              <div class="card-avatar">
                <a>
                  <img class="img" [src]="consultor.data.foto" />
                </a>
              </div>

              <div class="content">
                <h6 class="category text-gray">{{consultor.data.titulo}}</h6>
                <h4 class="card-title">{{consultor.data.nome}}</h4>
                <p class="card-content">
                  {{consultor.data.descricao}}
                </p>
                <a [routerLink]="['/consultores-proposta/' + consultor._id]" class="btn btn-danger btn-round">Solicitar consultoria</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
